* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 20px;
}

header {
    background-color: aqua;
    padding: 20px;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

main {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #b9b9b9;
    box-shadow: 0 0 10px;
}

label {
    padding: .35rem;
}

input {
    padding: .35rem;
}

#button {
    padding: 20px;
}

#searchFlightsBtn {
    padding: .5rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px
}

.resultsList {
    list-style: none;
    padding: 50px;
}

.resultsList li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 40px;

}

.resultsList li strong {
    font-size: 1.2em;
}

.resultsList li .flightOfferSegment {
    margin-top: 20px;
}